@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(71, 69, 69);
    color: white;
    font-family: 'Lato', sans-serif;
}
 